.aui-image-cropper-crop {
	position: absolute;
	outline: #FFFF00 dashed 5px;
}

.aui-image-cropper-crop:hover {
	cursor: move;
}

.aui-image-cropper-overlay {
	background-color: #000;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
}
